footer.footer
    .container
        .row.align-items-center
            .col-24.col-md-18
                .row
                    .col-24.col-md-8
                        .footer__logos
                            a(href="/").footer__logo
                                img(src="/images/logo-footer.svg")
                            a(href="https://www.alican.com.ar" target="_blank").footer__logo.footer__logo--alican
                                img(src="/images/logo-footer-alican.svg")
                    .col-24.col-md-16
                        .footer__links
                            ul.footer__list
                                li.footer__item
                                    a(href="/perros") Perros
                                li.footer__item
                                    a(href="/gatos") Gatos
                                li.footer__item
                                    a(href="/consejos") Consejos
                            ul.footer__list
                                li.footer__item
                                    a(href="/#location") Dónde comprar
                                li.footer__item
                                    a(href="/nuestra-empresa") Nuestra empresa
                                li.footer__item
                                    a(href="/contacto") Contacto

                            .footer__social
                                h3.footer__social__title Seguinos
                                span
                                ul.footer__social__list
                                    li.footer__social__item
                                        a(href="https://www.facebook.com/siegeroficial")
                                            i.fa.fa-facebook
                                    li.footer__social__item
                                        a(href="http://instagram.com/siegeroficial")
                                            i.fa.fa-instagram

            .col-24.col-md-6
                .footer__newsletter
                    h3.footer__newsletter__title Conectemos!
                    p.footer__newsletter__text Dejanos tu mail para recibir novedades de Sieger.
                    .footer__newsletter__input-wrapper
                        input.footer__newsletter__input(placeholder="Tu email")
                        button.footer__newsletter__button
                            i.fa.fa-arrow-right
                