extends ../_layouts/base

include ../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
 main.perros
    section.perros__hero
        iframe(src="https://www.youtube.com/embed/59bpfFRD6Ag?autoplay=1&playlist=roXI-ZIkHxo&loop=1&controls=0&mute=1&showinfo=0")
    section.perros__productos
        .perros__productos__options
            .perros__productos__option.-js-supermenu
                button.perros__productos__button cachorro
                ul.perros__productos__sublist
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura pequeña
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura mediana
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura grande
            .perros__productos__option.-js-supermenu
                button.perros__productos__button Adultos
                ul.perros__productos__sublist.perros__productos__sublist--xs-positioning
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura pequeña
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura mediana
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura grande
            .perros__productos__option.-js-supermenu
                button.perros__productos__button senior + 7 años
                ul.perros__productos__sublist.perros__productos__sublist--xs-top-positioning
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura pequeña
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura mediana
                    li
                        .perros__productos__suboption
                            button.perros__productos__subbutton.-js-option estructura grande
            .perros__productos__option.-js-option
                button.perros__productos__button light
            .perros__productos__option.-js-option
                button.perros__productos__button dermaprotect
            .perros__productos__option.-js-option
                button.perros__productos__button criadores
            .perros__productos__option.-js-option
                button.perros__productos__button suplementos
        .perros__productos__slider
            .perros__productos__slider-controls
                span.arrow-left
                    i.fa.fa-arrow-left
                span.arrow-right
                    i.fa.fa-arrow-right

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title cachorros
                        h4.perros__productos__slide-title estructura pequeña
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/perros/tabs-bg.jpg")
        
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title cachorros
                        h4.perros__productos__slide-title estructura mediana
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/perros/tabs-bg.jpg")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title cachorros
                        h4.perros__productos__slide-title estructura grande
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/perros/tabs-bg.jpg")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title adultos
                        h4.perros__productos__slide-title estructura pequeña
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")
        
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title adultos
                        h4.perros__productos__slide-title estructura mediana
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title adultos
                        h4.perros__productos__slide-title estructura grande
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")
        
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title senior +7 años
                        h4.perros__productos__slide-title estructura pequeña
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")
        
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title senior +7 años
                        h4.perros__productos__slide-title estructura mediana
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title senior +7 años
                        h4.perros__productos__slide-title estructura grande
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="/images/gatos/tabs-bg.jpg")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title light
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="https://picsum.photos/id/236/1200/1300")
        
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title dermaprotect
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="https://picsum.photos/id/236/1200/1300")

            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title criadores
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="https://picsum.photos/id/236/1200/1300")
    
            .perros__productos__slide.-js-slide
                .perros__productos__slide-image
                    img(src="/images/perros/tabs-product.png")
                .perros__productos__slide-container
                    .perros__productos__slide-content
                        h3.perros__productos__slide-subtitle Productos para perros 
                        h2.perros__productos__slide-title suplementos
                        p.perros__productos__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.perros__productos__slide-button(href="/producto-perro") conocé más
                .perros__productos__slide-container
                    .perros__productos__container-image
                        img(src="https://picsum.photos/id/236/1200/1300")

    section.perros__consejos
        .perros__consejos__container
            +consejo('/images/consejos/sample1.jpg', 'Consejos', 'consejos para el primer día en casa')
        .perros__consejos__container
            +consejo('/images/consejos/sample2.jpg', 'Consejos', 'consejos para el primer día en casa')
        .perros__consejos__container
            +consejo('/images/consejos/sample3.jpg', 'Consejos', 'consejos para el primer día en casa')
    
    section.perros__location#location
        .perros__location__container.perros__location__container--double
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.687208327099!2d-58.57069318423594!3d-34.63734396678619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7f0dfd44655%3A0xec70ba61af8cf308!2sEmilio%20Mitre%20232%2C%20B1707AMF%20Villa%20Sarmiento%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1568825980657!5m2!1ses-419!2sar")
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.555277989878!2d-58.37641601224866!3d-34.61540553430556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad5c05ca985%3A0x58ed0e3e91c74dc8!2sChacabuco%20589%2C%20C1069AAK%20CABA!5e0!3m2!1ses-419!2sar!4v1568759145139!5m2!1ses-419!2sar")
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.195475960974!2d-58.44543478423624!3d-34.62450016610618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca39cd8f9d9b%3A0x907923965b494413!2sEmilio%20Mitre%20232%2C%20C1424AYF%20CABA!5e0!3m2!1ses-419!2sar!4v1568826041578!5m2!1ses-419!2sar")
        .perros__location__container
            h2.perros__location__title donde comprar
            .perros__location__input-wrapper
                i.fa.fa-search
                input.perros__location__input(placeholder="Dirección, Ciudad, Código Postal")
            p.perros__location__text cerca tuyo
            .perros__location__addresses
                a.perros__location__address.-js-location(href="#location")
                    h3.perros__location__address-title san jorge
                    p.perros__location__address-text Emilio Mitre 232, Villa Sarmiento
                    p.perros__location__address-text Buenos Aires
                    p.perros__location__address-text 4464 2432
                    h4.perros__location__subtitle horario de atención
                    p.perros__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                a.perros__location__address.-js-location(href="#location")
                    h3.perros__location__address-title como perros y gatos
                    p.perros__location__address-text Chacabuco 589, Retiro
                    p.perros__location__address-text Buenos Aires
                    p.perros__location__address-text 4464 2432
                    h4.perros__location__subtitle horario de atención
                    p.perros__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                a.perros__location__address.-js-location(href="#location")
                    h3.perros__location__address-title ferreriro hermanos
                    p.perros__location__address-text Emilio Mitre 232, Puerto Madero
                    p.perros__location__address-text CABA
                    p.perros__location__address-text 4464 2432
                    h4.perros__location__subtitle horario de atención
                    p.perros__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs