extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.quienes-somos
        section.quienes-somos__hero
            .container
                .row
                    .col-24
                        h2.quienes-somos__hero__title.wow.fadeInLeft producimos y comercializamos alimentos balanceados bajo los estándares de calidad más exigentes
        section.quienes-somos__interstitial
            .container
                .row
                    .col-24.col-md-12.wow.fadeInLeft
                        .quienes-somos__interstitial__container
                            p.quienes-somos__interstitial__text Alican S.A. es la empresa que produce y distribuye la marca de alimento balanceado Sieger. Su meta primordial es contribuir a mejorar la calidad de vida de perros y gatos con productos de alta calidad certificada.
                    .col-24.col-md-12.wow.fadeInRight
                        .quienes-somos__interstitial__container.quienes-somos__interstitial__container--images
                            .quienes-somos__interstitial__images
                                .quienes-somos__interstitial__image
                                    img(src="/images/quienes-somos/alican.png")
      
        section.quienes-somos__investigacion
            .quienes-somos__investigacion__container.wow.fadeInLeft
                .container
                    .row
                        .col-24
                            .quienes-somos__investigacion__content
                                h2.quienes-somos__investigacion__title investigación y desarrollo
                                p.quienes-somos__investigacion__text
                                    |Creemos que compartir tiempo con nuestros perros y gatos es una experiencia poderosa e inigualable, es por esto que, día a día, Alican desde su 
                                    span moderna planta industrial 
                                    |, investiga y desarrolla fórmulas que 
                                    span optimizan su salud.
            .quienes-somos__investigacion__container.wow.fadeInRight
                .quienes-somos__investigacion__image
                    img(src="/images/quienes-somos/investigacion.jpg")

        section.quienes-somos__calidad
            .quienes-somos__calidad__container.wow.fadeInLeft
                .quienes-somos__calidad__image
                    img(src="/images/quienes-somos/calidad.jpg")
            .quienes-somos__calidad__container.wow.fadeInRight
                .container
                    .row
                        .col-24
                            .quienes-somos__calidad__content
                                h2.quienes-somos__calidad__title el más elevado estándar de calidad
                                p.quienes-somos__calidad__text La elaboración de todos los productos de Alican cumple con elevados estándares nutricionales, físico-químicos y biológicos. Se realizan controles rigurosos de los ingredientes para que sean seguros, además de pensar cada uno de los nutrientes para que cumplan una función determinada en el organismo del perro y el gato.
                                p.quienes-somos__calidad__text 
                                    |Para más información sobre Alican, hacé click 
                                    a(href="https://www.alican.com.ar/sobre-alican/" target="_blank") acá.