extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.producto
        section.producto__hero
            .container
                .row
                    .col-24.col-md-12
                        .producto__hero__container
                            h3.producto__hero__subtitle Piel sensible
                            h2.producto__hero__title dermaprotect
                            p.producto__hero__text 
                            p.producto__hero__text
                            .producto__hero__wrapper
                                h3.producto__hero__wrapper-title presentaciones
                                .producto__hero__group
                                    .producto__hero__weight 3KG
                                    .producto__hero__weight 5KG

