extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/perros/hero-consejos-cachorros-banar.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 perros &centerdot; cachorros
                    h2 Consejos para bañar a tu cachorro
                    p La Higiene y los baños son parte del cuidado también. Es un muy buen momento para revisar que los ojos, nariz y oídos estén limpios. En el caso que veamos que los oídos y ojos están sucios, debemos limpiarlos. La manera correcta en el caso de los ojos es hacerlo con una gasa humedecida con una loción especial, lo más suave posible. Para limpiar los oídos lo ideal es con un algodón humedecido con una loción que nos dará el veterinario. Nunca utilizar hisopos, dado que pueden causar lesiones en el oído.  
                    p El baño se realizará solo en caso que la mascota se encuentre sucia o con mal olor. Para realizar esta práctica de manera segura y que sea agradable para ambos se la debe acostumbrar desde que la mascota es pequeña. Siempre utilizar un champú especial y es importante que el ambiente y el agua que utilice esté a una temperatura agradable en donde no sufra frío.  Colocar una alfombra de baño antideslizante, unos pocos centímetros de agua, y poco a poco humedecerla antes de aplicar el champú.
                    p En todo momento debe mantenerse con calor hasta tanto se lo seque con un secador. Debe quedar bien seco para evitar humedad, lo que causará mal olor. 
                    p El cepillado es también parte del aseo, realizarlo de manera frecuente previene y remueve la suciedad, pelos muertos, microorganismos y evita que en los gatos y perros de pelo largo se formen nudos o rastas. En primavera y otoño es ideal cepillarlos a diario porque es la época en la que cambian el pelo. Se debe cepillar no solo la parte de atrás y de arriba, también las patas y sobre los costados. Es recomendable acostumbrarlos desde pequeños para que sea un momento agradable para ambos. Los perros con pelo largo requieren de un cepillado diario, para evitar la formación de rastas y mantenerlos sanos y brillantes.

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a
                                    i.fa.fa-facebook-official
                            li
                                a
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-cachorros-cuandosacar.jpg', 'perros', '¿Cuándo sacar a pasear a tu cachorro?', "/consejos/perros/cachorros/cuando sacar a pasear a tu cachorro")
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-cachorros-edadconsuman.jpg', 'perros', '¿Hasta qué edad es importante que consuman un alimento para cachorros?','/consejos/perros/cachorros/hasta que edad es importante que consuman un alimento para cachorros')
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-cachorros-destete.jpg', 'perros', 'destete','/consejos/perros/cachorros/destete')
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-cachorros-tipsllegada.jpg', 'perros', 'Tips a tener en cuenta antes que llegue tu cachorro.','/consejos/perros/cachorros/tips a tener en cuenta antes que llegue tu cachorro')
