extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/gatos/hero-katze-consejos-adult-vacunacion.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 gatos &centerdot; adultos
                    h2 ¿Debo vacunarlo todos los años?

                    p Trabajar sobre la prevención de las posibles enfermedades es clave por lo que es vital realizar la vacunación aproximadamente a los 2 meses y nuevamente una revacunación a los 21días con la vacuna triple viral felina. En cuanto a la vacuna de la rabia se dará a los 4 meses generalmente. En Argentina es muy importante que los gatos estén vacunados de rabia y revacunarlos una vez por año.
                    p Siempre consultá con tu veterinario de confianza para que pueda asesorarte teniendo en cuenta los factores que pueden incidir en tu gato, teniendo en cuenta sus necesidades y factores que lo pueden afectar.  

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a(href="https://www.facebook.com/siegeroficial" target="_blank")
                                    i.fa.fa-facebook-official
                            li
                                a(href="http://instagram.com/siegeroficial" target="_blank")
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-cepillarse.jpg', 'gatos', '¿Todos los gatos deben cepillarse?','/consejos/gatos/adultos/todos-los-gato-deben-cepillarse')
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-castracion.jpg', 'gatos', 'Importancia de la esterilización y castración.','/consejos/gatos/adultos/importancia-de-la-esterilizacion-y-castracion')
