extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/perros/hero-consejos-derma-prurito.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 perros &centerdot; derma
                    h2 ¿Qué produce el prurito en tu perro?

                    p Muchas son las causas que pueden estar generando prurito, por lo que es importante determinar cuál es para poder realizar el tratamiento adecuado. 
                    p La presencia de parásitos como las pulgas y/o garrapatas es la primera causa que puede generar síntomas como: eritema, prurito, eczema, por lo que siempre debemos descartarla. 
                    p Las picaduras también pueden hacer que tu perro se rasque  y presente áreas de la piel enrojecidas.
                    p Los perros que presentan muchos pliegues en su piel son propensos a sufrir infecciones por presentar hongos. Por lo que es de suma importancia mantenerlos bien secos y examinarlos frecuentemente para prevenir este tipo de infecciones.
                    p Otra de las causas que pueden producir rascado y diferentes alteraciones en la piel son las alergias, tanto ambientales, a productos de limpieza y/o alimentarias. 
                    p Dado que existen diversas causas que pueden ser las causantes de la aparición de  alteraciones en la piel y sus tratamientos son diferentes es clave consulta acudir al veterinario para que pueda examinarlo y realizar el tratamiento indicado, así como también trabajar sobre la prevención. 

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a
                                    i.fa.fa-facebook-official
                            li
                                a
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-derma-frecuenciabanado.jpg', 'perros', '¿Con qué frecuencia debo bañarlo?','/consejos/perros/derma/con que frecuencia debo banarlo')
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-derma-importanciaalimentacion.jpg', 'perros', '¿Qué importancia tiene la alimentación en el prurito?','/consejos/perros/derma/que importancia tiene la alimentacion en el prurito')
