extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/gatos/hero-katze-consejos-adult-castracion.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 gatos &centerdot; adultos
                    h2 Importancia de la esterilización y castración.

                    p La esterilización y castración presentan beneficios en la salud del gato así como también en el comportamiento y realizarla lo antes posible disminuye las probabilidades a que padezcan de ciertas patologías asociadas con los órganos reproductivos.
                    p ¿Cuándo realizarlo? Cuando el veterinario nos lo indique, por este motivo es de gran importancia consultar siempre con él.
                    p Los beneficios relacionados con el comportamiento están directamente asociados con que al esterilizarlos/castrarlos los niveles de ciertas hormonas como: progesterona, estrógenos y testosterona bajan. 
                    p Los machos no serán tan territoriales, con lo cual no tendrán la necesidad de marcar constantemente.
                    p Una de las cosas que suele preocupar a los dueños de gatos machos es que salgan y se peleen con otros gatos, al castrarlos ya no tendrán tantas ganas de salir, evitando de esta manera que vuelvan heridos.
                    p ¿Cuándo realizar la cirugía?
                    p Es importante consultarlo con el veterinario, dado que él será quién tendrá en cuenta las particularidades individuales.
                    p La alimentación puede ser clave:
                    p Es importante ir controlando el peso los primeros meses y ver si comienza a subir para poder evaluar si hay que realizar un cambio por un alimento reducido en calorías. 

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a(href="https://www.facebook.com/siegeroficial" target="_blank")
                                    i.fa.fa-facebook-official
                            li
                                a(href="http://instagram.com/siegeroficial" target="_blank")
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-cepillarse.jpg', 'gatos', '¿Todos los gatos deben cepillarse?','/consejos/gatos/adultos/todos-los-gato-deben-cepillarse')
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-vacunacion.jpg', 'gatos', '¿Debo vacunarlo todos los años?','/consejos/gatos/adultos/debo-vacunarlo-todos-los-anos')
