extends ../_layouts/base

include ../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.consejos
        section.consejos__hero
            .consejos__hero__slider
                .consejos__hero__slider-controls
                    span.arrow-left
                        i.fa.fa-arrow-left
                    span.arrow-right
                        i.fa.fa-arrow-right
                    .consejos__hero__slider-dots
                        span
                        span
                        span
                        span
                .consejos__hero__slide
                    img(src="/images/consejos/article-hero.jpg")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/239/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/238/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/237/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo
        section.consejos__list
            h2.consejos__list__title todos los consejos
            .consejos__filters
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio1")
                    label.consejos__filters__label(for="radio1") todos
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio2")
                    label.consejos__filters__label(for="radio2") para perros
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio3")
                    label.consejos__filters__label(for="radio3") para gatos
                .consejos__filters__filter-group
                    select.consejos__filters__select
                        option(selected hidden disabled) edad
                        option cachorro
                        option adulto
            .consejos__news
                .consejos__news__container
                    +consejo('/images/consejos/sample1.jpg', 'perros · senior', '¿qué produce el rescado?')
                .consejos__news__container
                    +consejo('/images/consejos/sample2.jpg', 'perros · senior', '¿con qué frecuencia debo bañarlo?')
                .consejos__news__container
                    +consejo('/images/consejos/sample3.jpg', 'perros · senior', '¿qué importancia tiene la alimentación en el rascado?')
                .consejos__news__container
                    +consejo('/images/consejos/sample4.jpg', 'perros · senior', '¿cuándo sacar a pasear a tu cachorro?')
                .consejos__news__container
                    +consejo('/images/consejos/sample5.jpg', 'perros · senior', 'consejos para bañar a tu cachorro')
                .consejos__news__container
                    +consejo('/images/consejos/sample6.jpg', 'perros · senior', '¿las uñas de los perros se deben cortar?')
                .consejos__news__container
                    +consejo('/images/consejos/sample1.jpg', 'perros · senior', 'tips a tener en cuenta antes que llegue tu cachorro')
                .consejos__news__container
                    +consejo('/images/consejos/sample2.jpg', 'perros · senior', 'tips de cuidado para tu perro mayor de 7 años')
                .consejos__news__container
                    +consejo('/images/consejos/sample3.jpg', 'perros · senior', '¿qué tener en cuenta para un descenso de peso saludable?')