extends ../_layouts/base

include ../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.consejos
        section.consejos__hero
            .consejos__hero__slider
                .consejos__hero__slider-controls
                    span.arrow-left
                        i.fa.fa-arrow-left
                    span.arrow-right
                        i.fa.fa-arrow-right
                    .consejos__hero__slider-dots
                        span
                        span
                        span
                        span
                .consejos__hero__slide
                    img(src="/images/consejos/perros/hero-consejos-derma-frecuenciabanado.jpg")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content.wow.fadeInUp
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/consejos/perros/derma/con-que-frecuencia-debo-banarlo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/239/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content.wow.fadeInUp
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/238/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content.wow.fadeInUp
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo

                .consejos__hero__slide
                    img(src="https://picsum.photos/id/237/2000/1400")
                    .container
                        .row
                            .col-24
                                .consejos__hero__content.wow.fadeInUp
                                    h3.consejos__hero__subtitle consejos
                                    h2.consejos__hero__title ¿con qué frecuencia debo bañarlo?
                                    a(href="/articulo").consejos__hero__button leer consejo
        section.consejos__list
            h2.consejos__list__title todos los consejos
            .consejos__filters
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio1")
                    label.consejos__filters__label(for="radio1") todos
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio2")
                    label.consejos__filters__label(for="radio2") para perros
                .consejos__filters__filter-group
                    input.consejos__filters__filter(type="radio" name="radio" id="radio3")
                    label.consejos__filters__label(for="radio3") para gatos
                //- .consejos__filters__filter-group
                //-     select.consejos__filters__select
                //-         option(selected hidden disabled) edad
                //-         option cachorro
                //-         option adulto
            .consejos__news
                .consejos__news__container.wow.fadeInUp
                    +consejo('/images/consejos/perros/hero-consejos-cachorros-cuandosacar.jpg', 'perros', '¿Cuándo sacar a pasear a tu cachorro?', "/consejos/perros/cachorros/cuando-sacar-a-pasear-a-tu-cachorro")
                .consejos__news__container.wow.fadeInUp(data-wow-delay=".2s")
                    +consejo('/images/consejos/perros/hero-consejos-cachorros-banar.jpg', 'perros', 'Consejos para bañar a tu cachorro','/consejos/perros/cachorros/consejos-para-banar-a-tu-cachorro')
                .consejos__news__container.wow.fadeInUp(data-wow-delay=".4s")
                    +consejo('/images/consejos/perros/hero-consejos-cachorros-edadconsuman.jpg', 'perros', '¿Hasta qué edad es importante que consuman un alimento para cachorros?','/consejos/perros/cachorros/hasta-que-edad-es-importante-que-consuman-un-alimento-para-cachorros')
                .consejos__news__container.wow.fadeInUp(data-wow-delay=".6s")
                    +consejo('/images/consejos/perros/hero-consejos-cachorros-destete.jpg', 'perros', 'destete','/consejos/perros/cachorros/destete')
                .consejos__news__container.wow.fadeInUp(data-wow-delay=".8s")
                    +consejo('/images/consejos/perros/hero-consejos-cachorros-tipsllegada.jpg', 'perros', 'Tips a tener en cuenta antes que llegue tu cachorro.','/consejos/perros/cachorros/tips-a-tener-en-cuenta-antes-que-llegue-tu-cachorro')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="1s")
                    +consejo('/images/consejos/perros/hero-consejos-adults-cortarunas.jpg', 'perros', '¿las uñas de los perros se deben cortar?','/consejos/perros/adultos/las-unas-de-los-perros-se-deben-cortar')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="1.2s")
                    +consejo('/images/consejos/perros/hero-consejos-adults-cadacuantobanas.jpg', 'perros', '¿Cada cuánto bañas a tu perro?','/consejos/perros/adultos/cada-cuanto-banas-a-tu-perro')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="1.4s")
                    +consejo('/images/consejos/perros/hero-consejos-adults-tipsviaje.jpg', 'perros', 'Tips para viajar con tu perro.','/consejos/perros/adultos/tips-para-viajar-con-tu-perro')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="1.6s")
                    +consejo('/images/consejos/perros/hero-consejos-senior-cuidados.jpg', 'perros', 'Tips de cuidados para tu perro mayor de 7 años.','/consejos/perros/senior/tips-de-cuidados-para-tu-perro-mayor-de-7-anos')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="1.8s")
                    +consejo('/images/consejos/perros/hero-consejos-senior-articulaciones.jpg', 'perros', '¿Cómo cuidar las articulaciones y huesos?','/consejos/perros/senior/como-cuidar-las-articulaciones-y-huesos')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="2s")
                    +consejo('/images/consejos/perros/hero-consejos-senior-ejercicio.jpg', 'perros', 'La importancia que tu perro mayor de 7 años realice ejercicio.','/consejos/perros/senior/la-importancia-que-tu-perro-mayor-de-7-anos-realice-ejercicio')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="2.2s")
                    +consejo('/images/consejos/perros/hero-consejos-light-ejercicio.jpg', 'perros', '¿Cómo empezar a realizar ejercicio?','/consejos/perros/light/como-empezar-a-realizar-ejercicio')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="2.4s")
                    +consejo('/images/consejos/perros/hero-consejos-light-caractalimento.jpg', 'perros', '¿Qué características debe tener un alimento para bajar de peso?','/consejos/perros/light/que-caracteristicas-debe-tener-un-alimento-para-bajar-de-peso')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="2.6s")
                    +consejo('/images/consejos/perros/hero-consejos-light-pesosaludable.jpg', 'perros', '¿Qué tener en cuenta para un descenso de peso saludable?','/consejos/perros/light/que-tener-en-cuenta-para-un-descenso-de-peso-saludable')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="2.8s")
                    +consejo('/images/consejos/perros/hero-consejos-derma-prurito.jpg', 'perros', '¿Qué produce el prurito en tu perro?','/consejos/perros/derma/que-produce-el-prurito-en-tu-perro')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="3s")
                    +consejo('/images/consejos/perros/hero-consejos-derma-frecuenciabanado.jpg', 'perros', '¿Con qué frecuencia debo bañarlo?','/consejos/perros/derma/con-que-frecuencia-debo-banarlo')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="3.2s")
                    +consejo('/images/consejos/perros/hero-consejos-derma-importanciaalimentacion.jpg', 'perros', '¿Qué importancia tiene la alimentación en el prurito?','/consejos/perros/derma/que-importancia-tiene-la-alimentacion-en-el-prurito')

                .consejos__news__container.wow.fadeInUp(data-wow-delay="3.4s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-primerdia.jpg', 'gatos', 'Consejos para el primer día en casa.','/consejos/gatos/kitten/consejos-para-el-primer-dia-en-casa')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="3.6s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-dientes.jpg', 'gatos', '¿Es común que se les caigan los dientes?','/consejos/gatos/kitten/es-comun-que-se-les-caigan-los-dientes')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="3.8s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-cortarunas.jpg', 'gatos', '¿Las uñas deben cortarse?','/consejos/gatos/kitten/las-unas-deben-cortarse')

                .consejos__news__container.wow.fadeInUp(data-wow-delay="4s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-adult-cepillarse.jpg', 'gatos', '¿Todos los gatos deben cepillarse?','/consejos/gatos/adultos/todos-los-gato-deben-cepillarse')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="4.2s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-adult-castracion.jpg', 'gatos', 'Importancia de la esterilización y castración.','/consejos/gatos/adultos/importancia-de-la-esterilizacion-y-castracion')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="4.4s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-adult-vacunacion.jpg', 'gatos', '¿Debo vacunarlo todos los años?','/consejos/gatos/adultos/debo-vacunarlo-todos-los-anos')

                .consejos__news__container.wow.fadeInUp(data-wow-delay="4.6s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-senior-alimentoespecial.jpg', 'gatos', 'Tengo que darle un alimento especial si se le empezaron a caer los dientes?','/consejos/gatos/senior/tengo-que-darle-un-alimento-especial-si-se-le-empezaron-a-caer-los-dientes')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="4.8s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-senior-tipsnoactivo.jpg', 'gatos', 'Tips a tener en cuenta si tu gato no está tan activo.','/consejos/gatos/senior/tips-a-tener-en-cuenta-si-tu-gato-no-esta-tan-activo')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="5s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-senior-articulaciones.jpg', 'gatos', 'Cuidado de las articulaciones y huesos.','/consejos/gatos/senior/cuidado-de-las-articulaciones-y-huesos')

                .consejos__news__container.wow.fadeInUp(data-wow-delay="5.2s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-light-tipsperdida.jpg', 'gatos', 'Tips a tener en cuenta para la pérdida de peso saludable.','/consejos/gatos/light/tips-a-tener-en-cuenta-para-la-perdida-de-peso-saludable')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="5.4s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-light-actividadfisica.jpg', 'gatos', '¿Cómo hacer que tu gato aumente la actividad física?','/consejos/gatos/light/como-hacer-que-tu-gato-aumente-la-actividad-fisica')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="5.6s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-light-sobrepeso.jpg', 'gatos', '¿Cómo saber si tu gato tiene sobrepeso?','/consejos/gatos/light/como-saber-si-tu-gato-tiene-sobrepeso')

                .consejos__news__container.wow.fadeInUp(data-wow-delay="5.8s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-urinary-consumeagua.jpg', 'gatos', '¿Tú gato consume agua?','/consejos/gatos/urinary/tu-gato-consume-agua')
                .consejos__news__container.wow.fadeInUp(data-wow-delay="6s")
                    +consejo('/images/consejos/gatos/hero-katze-consejos-urinary-causasaumentar.jpg', 'gatos', 'Causas que pueden aumentar la probabilidad a la aparición de alteraciones urinarias.','/consejos/gatos/urinary/causas-que-pueden-aumentar-la-probabilidad-a-la-aparicion-de-alteraciones-urinarias')




                    