extends ../_layouts/base

include ../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
 main.gatos
    section.gatos__hero
        iframe(src="https://www.youtube.com/embed/uhPJUG7bpss?autoplay=1&controls=0&loop=1&mute=1&playlist=uhPJUG7bpss&showinfo=0&modestbranding=1&autohide=1")
        a.gatos__hero__arrow-down(href="#productos") 
            i.fa.fa-arrow-down
    section.gatos__productos#productos
        .gatos__productos__options
            .gatos__productos__option.-js-option
                button.gatos__productos__button kitten
                
            .gatos__productos__option.-js-option
                button.gatos__productos__button Adult
                
            .gatos__productos__option.-js-option
                button.gatos__productos__button senior
                
            .gatos__productos__option.-js-option
                button.gatos__productos__button urinary
            .gatos__productos__option.-js-option
                button.gatos__productos__button light
            .gatos__productos__option.-js-option
                button.gatos__productos__button stress control
        .gatos__productos__slider
            .gatos__productos__slider-controls
                span.arrow-left
                    i.fa.fa-arrow-left
                span.arrow-right
                    i.fa.fa-arrow-right

            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-kitten.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle.wow.fadeInLeft Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") Kitten
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/kitten" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image.wow.fadeInRight
                        img(src="/images/gatos/tabs-bg-katze-kitten.jpg")
            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-adult.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle.wow.fadeInLeft Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") adult
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/adult" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image
                        img(src="/images/gatos/tabs-bg-katze-adult.jpg")

            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-senior.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle.wow.fadeInLeft Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") senior
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/senior" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image
                        img(src="/images/gatos/tabs-bg-katze-senior.jpg")

            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-urinary.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle.wow.fadeInLeft Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") urinary
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/urinary" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image
                        img(src="/images/gatos/tabs-bg-katze-urinary.jpg")
        
            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-light.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle.wow.fadeInLeft Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") light
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/light" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image
                        img(src="/images/gatos/tabs-bg-katze-light.jpg")
                                                                                                
            .gatos__productos__slide.-js-slide
                .gatos__productos__slide-image
                    img(src="/images/packs/katze-stress.png")
                .gatos__productos__slide-container
                    .gatos__productos__slide-content
                        h3.gatos__productos__slide-subtitle Alimento para gatos 
                        h2.gatos__productos__slide-title.wow.fadeInLeft(data-wow-delay=".3s") stress control
                        p.gatos__productos__slide-text.wow.fadeInLeft(data-wow-delay=".3s") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.gatos__productos__slide-button.wow.fadeInLeft(href="/producto-gato/stress-control" data-wow-delay=".6s") conocé más
                .gatos__productos__slide-container
                    .gatos__productos__container-image
                        img(src="/images/gatos/tabs-bg-katze-stress-control.jpg")
    
    section.gatos__consejos
        .gatos__consejos__container.wow.fadeInUp
            +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-primerdia.jpg', 'gatos', 'Consejos para el primer día en casa.','/consejos/gatos/kitten/consejos-para-el-primer-dia-en-casa')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay=".2s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-dientes.jpg', 'gatos', '¿Es común que se les caigan los dientes?','/consejos/gatos/kitten/es-comun-que-se-les-caigan-los-dientes')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay=".4s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-cortarunas.jpg', 'gatos', '¿Las uñas deben cortarse?','/consejos/gatos/kitten/las-unas-deben-cortarse')

        .gatos__consejos__container.wow.fadeInUp(data-wow-delay=".6s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-cepillarse.jpg', 'gatos', '¿Todos los gatos deben cepillarse?','/consejos/gatos/adultos/todos-los-gatos-deben-cepillarse')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay=".8s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-castracion.jpg', 'gatos', 'Importancia de la esterilización y castración.','/consejos/gatos/adultos/importancia-de-la-esterilizacion-y-castracion')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="1s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-adult-vacunacion.jpg', 'gatos', '¿Debo vacunarlo todos los años?','/consejos/gatos/adultos/debo-vacunarlo-todos-los-anos')

        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="1.2s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-senior-alimentoespecial.jpg', 'gatos', 'Tengo que darle un alimento especial si se le empezaron a caer los dientes?','/consejos/gatos/senior/tengo-que-darle-un-alimento-especial-si-se-le-empezaron-a-caer-los-dientes')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="1.4s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-senior-tipsnoactivo.jpg', 'gatos', 'Tips a tener en cuenta si tu gato no está tan activo.','/consejos/gatos/senior/tips-a-tener-en-cuenta-si-tu-gato-no-esta-tan-activo')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="1.6s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-senior-articulaciones.jpg', 'gatos', 'Cuidado de las articulaciones y huesos.','/consejos/gatos/senior/cuidado-de-las-articulaciones-y-huesos')

        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="1.8s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-light-tipsperdida.jpg', 'gatos', 'Tips a tener en cuenta para la pérdida de peso saludable.','/consejos/gatos/light/tips-a-tener-en-cuenta-para-la-perdida-de-peso-saludable')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="2s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-light-actividadfisica.jpg', 'gatos', '¿Cómo hacer que tu gato aumente la actividad física?','/consejos/gatos/light/como-hacer-que-tu-gato-aumente-la-actividad-fisica')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="2.2s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-light-sobrepeso.jpg', 'gatos', '¿Cómo saber si tu gato tiene sobrepeso?','/consejos/gatos/light/como-saber-si-tu-gato-tiene-sobrepeso')

        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="2.4s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-urinary-consumeagua.jpg', 'gatos', '¿Tú gato consume agua?','/consejos/gatos/urinary/tu-gato-consume-agua')
        .gatos__consejos__container.wow.fadeInUp(data-wow-delay="2.6s")
            +consejo('/images/consejos/gatos/hero-katze-consejos-urinary-causasaumentar.jpg', 'gatos', 'Causas que pueden aumentar la probabilidad a la aparición de alteraciones urinarias.','/consejos/gatos/urinary/causas-que-pueden-aumentar-la-probabilidad-a-la-aparicion-de-alteraciones-urinarias')

    section.gatos__location#location
        .gatos__location__container.gatos__location__container--double
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.687208327099!2d-58.57069318423594!3d-34.63734396678619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7f0dfd44655%3A0xec70ba61af8cf308!2sEmilio%20Mitre%20232%2C%20B1707AMF%20Villa%20Sarmiento%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1568825980657!5m2!1ses-419!2sar")
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.555277989878!2d-58.37641601224866!3d-34.61540553430556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad5c05ca985%3A0x58ed0e3e91c74dc8!2sChacabuco%20589%2C%20C1069AAK%20CABA!5e0!3m2!1ses-419!2sar!4v1568759145139!5m2!1ses-419!2sar")
            iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.195475960974!2d-58.44543478423624!3d-34.62450016610618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca39cd8f9d9b%3A0x907923965b494413!2sEmilio%20Mitre%20232%2C%20C1424AYF%20CABA!5e0!3m2!1ses-419!2sar!4v1568826041578!5m2!1ses-419!2sar")
        .gatos__location__container
            h2.gatos__location__title dónde comprar
            .gatos__location__input-wrapper
                i.fa.fa-search
                input.gatos__location__input(placeholder="Dirección, Ciudad, Código Postal")
            p.gatos__location__text cerca tuyo
            .gatos__location__addresses
                .gatos__location__address.-js-location(href="#location")
                    h3.gatos__location__address-title san jorge
                    p.gatos__location__address-text Emilio Mitre 232, Villa Sarmiento
                    p.gatos__location__address-text Buenos Aires
                    p.gatos__location__address-text 4464 2432
                    p.gatos__location__address-text
                      a(href="#")
                        i.fa.fa-globe 
                        | Compra online
                    h4.gatos__location__subtitle horario de atención
                    p.gatos__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                .gatos__location__address.-js-location(href="#location")
                    h3.gatos__location__address-title como gatos y gatos
                    p.gatos__location__address-text Chacabuco 589, Retiro
                    p.gatos__location__address-text Buenos Aires
                    p.gatos__location__address-text 4464 2432
                    p.gatos__location__address-text
                      a(href="#")
                        i.fa.fa-globe 
                        | Compra online
                    h4.gatos__location__subtitle horario de atención
                    p.gatos__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                .gatos__location__address.-js-location(href="#location")
                    h3.gatos__location__address-title ferreriro hermanos
                    p.gatos__location__address-text Emilio Mitre 232, Puerto Madero
                    p.gatos__location__address-text CABA
                    p.gatos__location__address-text 4464 2432
                    p.gatos__location__address-text
                      a(href="#")
                        i.fa.fa-globe 
                        | Compra online
                    h4.gatos__location__subtitle horario de atención
                    p.gatos__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs