header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img.-light(src="/images/logo-header-light.svg")
                        img.-dark(src="/images/logo-header-dark.svg")
                    nav.header__nav
                        ul.header__list
                            each item in site.data.header
                                li.header__item
                                    a.header__link(href=item.url)=item.name
                                    if item.sublist
                                        ul.header__sublist
                                            each element in item.sublist
                                                li.header__subitem
                                                    a(href=element.url)=element.name    
                                                    if element.subsublist
                                                        ul.header__subsublist
                                                            each link in element.subsublist
                                                                li.header__subsubitem
                                                                    a(href=link.url)=link.name
                    .header__social-wrapper
                        ul.header__social
                            li.header__network
                                a(href="#")
                                    i.fa.fa-facebook-official
                            li.header__network
                                a(href="#")
                                    i.fa.fa-instagram
                        .header__hamburguer
                            span
                            span
                            span
