header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img.-light(src="/images/logo-header-light.svg")
                        img.-dark(src="/images/logo-header-dark.svg")
                    nav.header__nav
                        ul.header__list
                            each item in site.data.header
                                li.header__item
                                    a.header__link.-js-link(href=item.url)=item.name
                                    if item.sublist
                                        a.header__link-mobile(href="#")
                                            i.fa.fa-plus
                                    if item.sublist
                                        ul.header__sublist
                                            each element in item.sublist
                                                if element.subsublist
                                                    li.header__subitem.header__subitem--submenu
                                                        a.-js-link(href=element.url)=element.name
                                                        ul.header__subsublist
                                                            each link in element.subsublist
                                                                li.header__subsubitem.-js-link
                                                                    a.-js-link(href=link.url)=link.name
                                                else
                                                    li.header__subitem  
                                                        a.-js-link(href=element.url)=element.name
                                                        
                    .header__social-wrapper
                        ul.header__social
                            li.header__network
                                a(href="https://www.facebook.com/siegeroficial")
                                    i.fa.fa-facebook
                            li.header__network
                                a(href="http://instagram.com/siegeroficial")
                                    i.fa.fa-instagram
                        .header__hamburguer
                            span
                            span
                            span
