header.header
    .container
        .row
            .col-24
                .header__container
                    .header__logo
                        img(src="")
                    nav.header__nav
                        ul.header__list
                            each item in site.data.header
                                li.header__item=item.name
                                    if item.sublist
                                        ul.header__sublist
                                            each element in item.sublist
                                                li.header__subitem=element.name    
                                                    if element.subsublist
                                                        ul.header__subsublist
                                                            each link in element.subsublist
                                                                li.header__subsubitem=link.name
                                                                    a(href=link.url)
                    .header__social-wrapper
                        ul.header__social
                            li.header__network
                                a(href="#")
                                    i.fa.fa-facebook-official
                            li.header__network
                                a(href="#")
                                    i.fa.fa-instagram
                        .header__hamburguer
                            span
                            span
                            span
