extends ../_layouts/base

include ../_modules/consejo/consejo
block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.articulo
        section.articulo__hero

        section.articulo__content
            .container
                .row
                    .col-24.col-md-14.offset-md-5
                        h3 perros &centerdot; cachorros
                        h2 ¿cuando sacar a pasear a tu cachorro?
                        p Los chachorros requieren de cuidados especiales y el plan sanitario es una parte fundamental de este. El veterinario indicará los pasos a seguir, ¿cuándo realizar las vacunas y desparacitaciones correspondientes?. Y es muy importante que tratemos, en lo posible de respetarlas. De esta manera disminuiremos las probabilidades a posibles enfermedades que pueda contraer.
                        p Una vez que el cachorro tenga todas las vacunas y desparacitaciones correspondientes a su edad y zona en la que viva, podrá comenzar con sus paseos, lo que es clave para lograr una mejor socialización, no solo con otros perros, sino también con otras personas. De las buenas experiencias que haya tenido dependera su personalidad a futuro.
                        p Lograr una socialización temprana es un proceso de suma importancia que evitará que el perro sea miedoso y agresivo.
                        p Al principio los paseos deben ser cortos, mostrales de a poco diferentes lugares y gente para que adquiera confianza. Luego ir sumando el contacto a través del juego con otros perros.
                        p Debemos siempre respetar los tiempos de cada cachorro, habrá algunos que les será mas fácil la adaptación y otros que necesitarán de más tiempo. Dedicarle tiempo, darle mucho afecto, atención y cuidado es la premisa para que en su adultez sea un perro con un temperamento equilibrado.

                        .articulo__social
                            .articulo__social__text compartir
                            ul.articulo__social__list
                                li
                                    a
                                        i.fa.fa-facebook-official
                                li
                                    a
                                        i.fa.fa-twitter

        section.articulo__consejos
            .articulo__consejos__container
                +consejo('/images/consejos/sample1.jpg', 'perros · senior', '¿qué produce el rescado?')
            .articulo__consejos__container
                +consejo('/images/consejos/sample2.jpg', 'perros · senior', '¿qué produce el rescado?')
            .articulo__consejos__container
                +consejo('/images/consejos/sample3.jpg', 'perros · senior', '¿qué produce el rescado?')
