extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/gatos/hero-katze-consejos-light-tipsperdida.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 gatos &centerdot; light
                    h2 Tips a tener en cuenta para la pérdida de peso saludable.

                    p El sobrepeso y obesidad pueden causar alteraciones en diferentes órganos y sistemas como por ejemplo el respiratorio y el cardiovascular, articulaciones y huesos.
                    p Por eso es clave mantener la condición corporal adecuada. ¿Y cómo podemos saber si es la correcto?
                    p Para saber si la condición corporal es la adecuada debemos palpar las costillas perfectamente, sin que haya una capa de grasa muy gruesa entre la piel y las costillas. Si lo miro desde arriba se puede apreciar la cintura. En el caso que las costillas no se palpen perfectamente, es decir que hay una capa de grasa gruesa entre las costillas y la piel, indica que existe un grado de sobrepeso. 
                    p En este caso lo que debemos hacer es acudir al veterinario para que lo evalúe y nos indique un plan para que baje de peso de manera saludable. El cual incluirá un alimento que contenga un porcentaje alto de proteínas y fibra para mantener el músculo y que aportarle mayor saciedad. Debe también contener un porcentaje bajo en grasa y calorías. A esto también seguramente le sumará actividad física para ayudar a la pérdida de peso de manera saludable.

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a(href="https://www.facebook.com/siegeroficial" target="_blank")
                                    i.fa.fa-facebook-official
                            li
                                a(href="http://instagram.com/siegeroficial" target="_blank")
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-light-actividadfisica.jpg', 'gatos', '¿Cómo hacer que tu gato aumente la actividad física?','/consejos/gatos/light/como-hacer-que-tu-gato-aumente-la-actividad-fisica')
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-light-sobrepeso.jpg', 'gatos', '¿Cómo saber si tu gato tiene sobrepeso?','/consejos/gatos/light/como-saber-si-tu-gato-tiene-sobrepeso')
