extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/perros/hero-consejos-light-ejercicio.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 perros &centerdot; light
                    h2 ¿Cómo empezar a realizar ejercicio?
                    p El aumento del ejercicio ayuda a controlar la ingesta alimentaria, produciendo cambios positivos en la composición corporal. Por eso es vital que comience de manera progresiva y continua la actividad física. Lo primero que tenemos que hacer es consultar con el médico veterinario para que nos pueda asesorar y nos indiqué cuál es la actividad física, intensidad y frecuencia adecuada para nuestro perro.  Además que pueda llevar a cabo el seguimiento del proceso.
                    p Seguramente al principio, se muestre un poco cansado, por eso lo mejor es comenzar el ejercicio con caminatas cortas. Luego podrás incrementarlas de acuerdo a la evolución y recomendación de tu veterinario. 
                    p Hay que estar atentos a la falta de aire u otros síntomas de fatiga, para detener el ejercicio ni bien se manifiesten y siempre tener a mano agua fresca e ir ofreciéndole para evitar que se deshidrate. 

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a(href="https://www.facebook.com/siegeroficial" target="_blank")
                                    i.fa.fa-facebook-official
                            li
                                a(href="http://instagram.com/siegeroficial" target="_blank")
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-light-caractalimento.jpg', 'perros', '¿Qué características debe tener un alimento para bajar de peso?','/consejos/perros/light/que-caracteristicas-debe-tener-un-alimento-para-bajar-de-peso')
          .articulo__consejos__container
            +consejo('/images/consejos/perros/hero-consejos-light-pesosaludable.jpg', 'perros', '¿Qué tener en cuenta para un descenso de peso saludable?','/consejos/perros/light/que-tener-en-cuenta-para-un-descenso-de-peso-saludable')
