extends ../../../../_layouts/base

include ../../../../_modules/consejo/consejo

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../../';


block content
  main.articulo
      section.articulo__hero
        img(src="/images/consejos/gatos/hero-katze-consejos-kitten-primerdia.jpg")

      section.articulo__content
          .container
              .row
                  .col-24.col-md-14.offset-md-5
                    h3 gatos &centerdot; kitten
                    h2 Consejos para el primer día en casa.

                    p Lo primero que se debe hacer cuando llega una mascota es llevarlo al veterinario para que pueda evaluar su salud y también pueda llevar a cabo el plan sanitario correspondiente (vacunas y antiparasitarios).
                    p Es importante entender que tanto un perro como un gato requieren de responsabilidad y cuidado, por lo que hay que darles el tiempo que necesitan, además de ocuparse que sus necesidades sean cubiertas. Algunos ejemplos pueden ser: conocer qué tipo de hábitat requieren; cuáles son sus costumbres; tipo, ración y frecuencia en las comidas; asegurarse que tengan agua fresca en todo momento; ser responsable por su sanidad; entre otras. Esto permitirá una mejor adaptación.
                    p Un gatito requiere de más atención, se recomienda no  dejarlo muchas horas solo y sin control durante los primeros meses.
                    p Al llegar por primera vez es conveniente presentarle a cada uno de los integrantes y mostrarle todos los lugares para que luego con tranquilidad vaya de a poco investigándolos solo. 
                    p Las primeras horas serán las más difíciles porque todo es nuevo, por lo que hay que tener paciencia, acompañarlo pero también debemos respetar sus tiempos. A medida que pasen las horas se va a sentir más tranquilo.
                    p Debemos tener en cuenta que seguramente nuestra rutina cambiará porque se adquirirán nuevas responsabilidades y tareas, pero quién se incluye a nuestra vida es él y por eso es tan importante conocer cada una de las necesidades y determinar si se podrá adaptar bien a la rutina diaria de la familia, a sus integrantes y al nuevo hábitat. 
                    p Todos los que estén en contacto frecuente con el gato deben ponerse de acuerdo acerca de las reglas para que sean claras y pueda rápidamente entenderlas desde el comienzo y no se maree con contradicciones. 
                    p Es fundamental que cada miembro de la familia tome un rol activo frente a la educación y tenga una responsabilidad sobre el gato. Por ejemplo, uno puede darle la comida, otro ocuparse de mantener el agua siempre limpia y fresca, otro de los juegos. 
                    p Algunas cosas a tener en cuenta en los gatos es que requieren de una bandeja sanitaria con piedritas, lo ideal es que se encuentre en un lugar diferente del colocamos la comida y es clave que cuente con un rascador en donde puedan afilarse las uñas. Esto muchas veces evitará que lo haga en lugares que no queremos como sillones, cortinas, muebles, etc.
                    p En el caso de los gatitos es sumamente importante el acondicionamiento del lugar para que éste sea más seguro. Por ejemplo, colocar redes en ventanas, balcones y escaleras; no dejar cables visibles; esconder los hilos y agujas.
                    p Una alimentación que le aporte todos los nutrientes es vital para que su sistema inmunológico se vaya fortaleciendo y no se enferme.

                    .articulo__social
                        .articulo__social__text compartir
                        ul.articulo__social__list
                            li
                                a
                                    i.fa.fa-facebook-official
                            li
                                a
                                    i.fa.fa-twitter

      section.articulo__consejos
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-dientes.jpg', 'gatos', '¿Es común que se les caigan los dientes?','/consejos/gatos/kitten/es comun que se les caigan los dientes')
          .articulo__consejos__container
            +consejo('/images/consejos/gatos/hero-katze-consejos-kitten-cortarunas.jpg', 'gatos', '¿Las uñas deben cortarse?','/consejos/gatos/kitten/las unas deben cortarse')
