extends _layouts/base

block content
    main.home
        section.home__hero
            iframe(src="https://www.youtube.com/embed/DxNYpHVa_2s?autoplay=1&amp;controls=0&amp;loop=1&amp;mute=1&amp;playlist=DxNYpHVa_2s&amp;showinfo=0&amp;modestbranding=1&amp;autohide=1")
            .container
                .row
                    .col-24.col-md-14.offset-md-1
                        .home__hero__container
                            h1.home__hero__title 
                                |La manera en que lo  
                                span cuidás y protegés,  
                                | es igual de importante que  
                                span la calidad del alimento que le das.
                            a.home__hero__arrow-down(href="#cta") 
                                i.fa.fa-arrow-down
        section.home__cta#cta
            a.home__cta__container.wow.fadeInLeft(href="/perros")
                h2.home__cta__title.wow.fadeInLeft(data-wow-delay=".3s")
                    |tengo
                    br
                    |un perro
            a.home__cta__container.wow.fadeInRight(href="/gatos")
                h2.home__cta__title.wow.fadeInRight(data-wow-delay=".3s")
                    |tengo
                    br
                    |un gato
        section.home__location#location
            .home__location__container.home__location__container--double
                iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.687208327099!2d-58.57069318423594!3d-34.63734396678619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7f0dfd44655%3A0xec70ba61af8cf308!2sEmilio%20Mitre%20232%2C%20B1707AMF%20Villa%20Sarmiento%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1568825980657!5m2!1ses-419!2sar")
                iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.555277989878!2d-58.37641601224866!3d-34.61540553430556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad5c05ca985%3A0x58ed0e3e91c74dc8!2sChacabuco%20589%2C%20C1069AAK%20CABA!5e0!3m2!1ses-419!2sar!4v1568759145139!5m2!1ses-419!2sar")
                iframe.-js-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.195475960974!2d-58.44543478423624!3d-34.62450016610618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca39cd8f9d9b%3A0x907923965b494413!2sEmilio%20Mitre%20232%2C%20C1424AYF%20CABA!5e0!3m2!1ses-419!2sar!4v1568826041578!5m2!1ses-419!2sar")
            .home__location__container
                h2.home__location__title dónde comprar
                .home__location__input-wrapper
                    i.fa.fa-search
                    input.home__location__input(placeholder="Dirección, Ciudad, Código Postal")
                p.home__location__text cerca tuyo
                .home__location__addresses
                    .home__location__address.-js-location(href="#location")
                        h3.home__location__address-title san jorge
                        p.home__location__address-text Emilio Mitre 232, Villa Sarmiento
                        p.home__location__address-text Buenos Aires
                        p.home__location__address-text 4464 2432
                        p.home__location__address-text
                          a(href="#")
                            i.fa.fa-globe 
                            | Compra online
                        h4.home__location__subtitle horario de atención
                        p.home__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                    .home__location__address.-js-location(href="#location")
                        h3.home__location__address-title como perros y gatos
                        p.home__location__address-text Chacabuco 589, Retiro
                        p.home__location__address-text Buenos Aires
                        p.home__location__address-text 4464 2432
                        p.home__location__address-text
                          a(href="#")
                            i.fa.fa-globe 
                            | Compra online
                        h4.home__location__subtitle horario de atención
                        p.home__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs
                    .home__location__address.-js-location(href="#location")
                        h3.home__location__address-title ferreriro hermanos
                        p.home__location__address-text Emilio Mitre 232, Puerto Madero
                        p.home__location__address-text CABA
                        p.home__location__address-text 4464 2432
                        p.home__location__address-text
                          a(href="#")
                            i.fa.fa-globe 
                            | Compra online
                        h4.home__location__subtitle horario de atención
                        p.home__location__address-text Lun - Vie 9 a 20 hs / Sab - Dom 9 a 13 hs